<!DOCTYPE html>
<html>
  <head>
    <h1>About Michael (Under construction)</h1>
  </head>
  <body>
    <p>Founding President of Delta Sigma Phi fraternity</p>
    <p>First place winner at California State Science Fair three times</p>
  </body>
</html>
