<div class="center jumbotron">
  <h1>Michael's Education</h1>

  <div class="row">
	  <div class="edu-creds"> 
	    <p>University of California, Berkeley:
			Bioengineering with concentration in Computational Biology</p>
	  </div>  
  </div>
  
  <div class="row">
	  <div class="edu-body"> 
	    <p>Selected Projects:</p>
	    <ul>
	      <li>Designed and implemented k-nearest neighbors machine learning algorithm for hand written letter recognition.</li>
	      <li>Designed RNA Hairpin loop: Created Python script to take an effector as an input; the output was a sequence
	creating a hairpin RNA loop serving as an “on-off” logic gate.</li>
	      <li>Protein Database web scraper: Created Python script to automate the creation of protein “playing cards,”
	including: a picture, stoichiometry, and organism of origin for random proteins from the RCSB protein database.
	After scraping the data, the script then wrote HTML and CSS to make the cards printable.</li>
	      <li>Tested single nucleotide polymorphism (SNP) tools: Developed Python script to automate SNP tool testing.</li>
	      <li>Sliding Block Puzzle Solver: Developed Java script that solved a sliding block puzzle using a breath first
	traversal.</li>
	      <li>Formal Proof Verification Program: Developed Java script that confirmed whether a proof was correct.</li>
	    </ul>
	  </div>  
  </div>
</div> 

