<!DOCTYPE html>
<html>
  <head>
    <title>Education</title>
  </head>
  <body>
    <div class="center jumbotron">
    <h1>Michael's Education</h1>
  <div class="edu-creds"> 
    <h2>University of California, Berkeley</h2>
    <p>Bioengineering with concentration in Computational Biology</p>
  </div>  
    <p>Selected Projects:</p>
    <ul>
    <p>Designed and implemented k-nearest neighbors machine learning algorithm for hand written letter recognition.</p>
    <p>Designed RNA Hairpin loop: Created Python script to take an effector as an input; the output was a sequence
creating a hairpin RNA loop serving as an “on-off” logic gate.</p>
    <p>Protein Database web scraper: Created Python script to automate the creation of protein “playing cards,”
including: a picture, stoichiometry, and organism of origin for random proteins from the RCSB protein database.
After scraping the data, the script then wrote HTML and CSS to make the cards printable.</p>
    <p>Tested single nucleotide polymorphism (SNP) tools: Developed Python script to automate SNP tool testing.</p>
    <p>Sliding Block Puzzle Solver: Developed Java script that solved a sliding block puzzle using a breath first
traversal.</p>
    <p>Formal Proof Verification Program: Developed Java script that confirmed whether a proof was correct.</p>
  </ul>
  </div> 
  </body>
</html>
