<!DOCTYPE html>
<html>
  <head>
    <title>Help page (Under Construction)</title>
  </head>
  <body>
    <div class="center jumbotron">
    <h1>Help page (Under Construction)</h1>
    <p>
      Find me in app/views/static_pages/help.html.erb
    </p>
    </div>
  </body>
</html>
