<!DOCTYPE html>
<html>
  <head>
    <title>About Michael is under construction</title>
  </head>
  <body>
<div class="center jumbotron">
    <h1>About Michael is under construction</h1>
   <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
   <%= link_to image_tag("under-construction_animated.gif",
       alt: "construction logo"), 'http://static.wixstatic.com/media/3e7efb_340\
7ead05bfe443bb9a5c067ccaeab4e.gif' %> 
</div>

    <h2>Michael Joseph Vredenburgh</h2>
    <h2>708 W MacArthur Oakland; (760) 224-9725 mvredenburgh@berkeley.edu;</h2>
    <h2> https://github.com/MVredenburgh?tab=repositories</h2>

  </body>
</html>
