<div class="center jumbotron">
	<div class="row">
		<div class="edu-body">
			<h1>Micheal's Languages</h1>
				<p>Experienced with:</p>
				<ul>
				    <li>Java: Berkeley's Data Structures class was taught and tested in Java. Two example Java projects are on my Github.</li>
				    <li>Python: Python is by far my go to language. This is the language I am most comfortable in, and have many example projects on my Github.</li>
				    <li>Matlab: I was taught this language in my engineering courses.</li>
				    <li>HTML: While websites are the obvious application, I have been able to use HTML for the automatic generation of web-scrapped protein summaries.</li>
				    <li>CSS: An essential to make any website presentable. I am also familiar with .scss in Rails development.</li>
				    <li>UNIX: ($ fortune | cowsay) My main text editor is emacs. I spend more time in the terminal than I probably should.</li>
				    <li>Ruby & Ruby on Rails: This website, along with several other examples were built with Ruby on Rails.</li>
				</ul>
				<p>Currently Learning:</p>
				<ul>
					<li>Javascript</li>
					<li>Django</li>
				</ul>
		</div>
	</div>
</div>

