<!DOCTYPE html>
<html>
  <head>
    <title>Languages</title>
  </head>
  <body>
    <div class="center jumbotron">
    <h1>Micheal's Languages (Under Construction)</h1>
    <p>Experienced with:</p>
    <ul>
    <p>Java: Berkeley's Data Structures class was taught and tested in Java. Two example Java projects are on my Github.</p>
    <p>Python: Python is by far my go to language. This is the language I am most comfortable in, and have many example projects on my Github.</p>
    <p>Matlab: I was taught this language in my engineering courses.</p>
    <p>HTML: While websites are the obvious application, I have been able to use HTML for the automatic generation of web-scrapped protein summaries.</p>
    <p>CSS: An essential to make any website presentable. I am also familiar with .scss in Rails development.</p>
    <p>UNIX: ($ fortune | cowsay) My main text editor is emacs. I spend more time in the terminal than I probably should.</p>
    <p>Ruby & Ruby on Rails: This website, along with several other examples were built with Ruby on Rails.</p>
    </ul>
    <p>Currently Learning:</p>
    <ul>
    <p>Javascript</p>
    <p>Django</p>
    </ul>
    </div>
  </body>
</html>
