<!DOCTYPE html>
<html>
  <head>
    <title>Related Courses</title>
  </head>
  <body>
    <div class="center jumbotron">
    <h1>Related Courses</h1>
    <p>Computer Science Courses:</p>
    <ul>
      <p>Efficient Algorithms and Intractable Problems</p>
    <p>Data Structures</p>
    <p>Discrete Mathematics and Probability Theory (Included a coding component of the class: wrote and ran virtual experiments and rendered the results with text book quality charts and graphs)</p>
    <p>Introduction to Computer Programming for Scientists and Engineers</p>
    </ul>
    </div>
  </body>
</html>
