<div class="center jumbotron">
	<h1>Related Courses</h1>
		
	<div class="row">
		<div class="edu-body"> 
			<p>Computer Science Courses:</p>
			<ul>
			  	<li>CS170: Efficient Algorithms and Intractable Problems</li>
				<li>CS61B: Data Structures</li>
				<li>CS70: Discrete Mathematics and Probability Theory</li>
				<li>E7: Introduction to Computer Programming for Scientists and Engineers</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="edu-body">
			<p>Math Courses:</p>
			<ul>
				<li>Math 1A: Calculus</li>
				<li>Math 1B: Calculus</li>
				<li>Math 53: Multivariable Calculus</li>
				<li>Math 54: Linear Algebra and Differential Equations</li>
			</ul>
		</div>
	</div>
</div>
