<div class="center jumbotron">
	<div class="container">  
		<h1>Michael's Work Experience</h1>
		
		<div class="wrap">
			<div class="row">
				<div class="col-md-6">
					<p>Clinical Research Intern (5/2011 - 8/2011)</p>
					<p>University of California, San Diego, Dept. of Family and Preventive Medicine 9500 Gilman Drive, La Jolla, 92093-0607 </p>
				</div>
				<div class="col-md-6">
					<p>Supervisor: Dr. Hillary Klonoff-Cohen, Professor and Director of Post-Doctoral Cancer Disparities Program</p>
					<p>Contact information: (858) 472-0200; hklonoffcohen@ucsd.edu</p>
				</div>		
				<div class="col-md-12">
					<p>Specific Duties: Worked on a clinical research project, the purpose of which was to predict the risk of childhood asthma in 
						infants and young children, using two inflammatory markers, urine eosinophil protein X and serum eosinophil cationic protein.</p>
				</div>
			</div>
		</div>
		
		<div class="wrap">
			<div class="row">
				<div class="col-md-6">
					<p>Systems and Research Analyst (2009 – present)</p>
					<p>Vredenburgh & Associates, Inc.
					2588 El Camino Real, F353, Carlsbad, CA 92008</p>
				</div>
				<div class="col-md-6">
					<p>Supervisor: Ilene Zackowitz, Ph.D., CPE</p>
					<p>Contact information: (619) 300-5316; ilenez@me.com</p>
				</div>
				<div class="col-md-12">
					<p>Specific Duties: Performs laboratory testing. Performs systems updates and maintenance. Conducts original research: 
						prepares scientific papers, and presents research at scientific conferences. Films and edits forensic videos.</p>  
				</div>
			</div>
		</div>
	</div>
</div>

