<h1>Activation Email</h1>

<p>Hi <%= @user.name %>,</p>

<p>
This email is to activate your account on the about-michael web app! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
